
.moreGooglelink li{
    border: 1px solid black;
    width: 64px;
    height: 64px;
}

ul.moreGooglelink{
    position: absolute;
    top: 39px;
    left: -218px;
    width: 284px;
    height: 600px;
    border: 2px solid black;

}


li.attachment{



}



a.attachment_link{}



img.attachment_img{}


p.attachment_name{}